.empresasParceiras {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--azul-350);
    margin-bottom: 89px;

    .container {
        width: 100%;
        max-width: 1280px;
        padding: 100px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .texto1 {
            font-size: 2.125rem;
            color: white;
            font-weight: 400;
            line-height: 34px;
        }

        .imgEmpresa {
            object-fit: scale-down;
            height: 3rem;
        }
    }

    @media (max-width: 900px) {
        .container {
            flex-direction: column;
            gap: 10px;
        }

    }
}